* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #3c9140 !important;
}

h1 {
  font-size: 24px;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  align-items: center;
}

.search-container {
  position: relative;
  display: inline-block;
}

#search-input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#dropdown {
  position: absolute;
  z-index: 1;
  display: none;
  max-width:360px;
  max-height: 300px;
  overflow: auto;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#dropdown ul {
  list-style: none;
  padding: 0;

}

#dropdown ul li {
  padding: 12px 20px;
  cursor: pointer;
  min-width: 365px;

}

#dropdown ul li:hover {
  background-color: #ddd;
}

button[type="button"] {
  background-color: #3c9140;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
}

#singer-info {
  display: none;
  margin: auto;
  max-width: 70%;
  border: #333;
}

.card-img-top {
  margin: auto;
  max-height: 300px;
  max-width: 200px;
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: #333;
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .header-contant {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .nav {
    text-align: center;
    display: block;
    flex-direction: column;
  }
}
